<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link rel="stylesheet" href="style.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <style>
        body{
        background-image: url("images/pietrowy_parking.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        }
    </style>
    <title>Rent A Car Application</title>
</head>

<body>
    <div class="container">
        <h1>Employee Panel</h1>
    </div>

    <br/>
    <div class="container">
        <div>
            <h6>Customers reservations</h6>
        </div>

        <div>
            <table class="table">
                <thead class="table-dark">
                <tr>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Id Number</th>
                    <th>Color</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Total Price</th>
                    <th></th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="car : ${carsBookedByCustomersDTOs}">
                    <td><a th:text="${car.brand}"></a></td>
                    <td><a th:text="${car.model}"></a></td>
                    <td><a th:text="${car.carIdNumber}"></a></td>
                    <td><a th:text="${car.color}"></a></td>
                    <td><a th:text="${car.rentalStartDate}"></a></td>
                    <td><a th:text="${car.rentalEndDate}"></a></td>
                    <td><a th:text="${car.totalPrice}"></a></td>

                    <td class="col">
                        <div class="d-flex justify-content-between">
                            <form th:action="@{/employee/accept}" method="post">
                                <input type="hidden" name="rentalOrderId" th:value="${car.rentalOrderId}"/>
                                <button class="btn btn-success" type="submit">Accept</button>
                            </form>

                            <form th:action="@{/employee/modify}" method="post">
                                <button class="btn btn-warning" type="button" data-toggle="modal"
                                        data-target="#myModal" data-rentalOrderId="${car.rentalOrderId}">
                                    <a class="table-button">Modify</a>
                                </button>
                           </form>

                            <form th:action="@{/employee/cancel}" method="post">
                                <input type="hidden" name="rentalOrderId" th:value="${car.rentalOrderId}"/>
                                <button class="btn btn-danger" type="submit">Cancel</button>
                            </form>
                        </div>
                    </td>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <div class="modal-header">
                                    <h4 class="modal-title">Modify the rental period</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>

                                <div class="modal-body">
                                    <form th:action="@{/employee/modify}" method="post">

                                        <input type="hidden" name="rentalOrderId" th:value="${car.rentalOrderId}"/>
                                        <div class="form-group">
                                            <label for="newRentalStartDate">New rental start date:</label>
                                            <input type="date" class="form-control" id="newRentalStartDate" name="newRentalStartDate" th:value="${date}" required>
                                        </div>

                                        <div class="form-group">
                                            <label for="newRentalEndDate">New rental end date:</label>
                                            <input type="date" class="form-control" id="newRentalEndDate" name="newRentalEndDate" th:value="${date}" required>
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-success">Save</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <a th:href="@{/}" class="btn btn-success" role="button">Go to the main page</a>
            </div>
        </div>
    </div>
    <br>
    <br>

</body>
</html>