<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <link rel="stylesheet" href="style.css"/>
    <style>
        body{
        background-image: url("images/pietrowy_parking.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        }
    </style>
    <title>Renta A Car Application</title>
</head>

<body>

    <section class="top-section-button">
        <button class="top-button-container"><a class="btn btn-success"  href="/login">Sign In</a></button>
        <button class="top-button-container"><a class="btn btn-success"  href="/addNewUserByUser">Register</a></button>
    </section>


    <div class="container">
        <h1>Renta A Car Application</h1>
        <div class="row">
            <div class="col-md-4">
                <a th:href="@{/customer}" class="btn btn-success" role="button">Customer Panel</a>
            </div>
            <div class="col-md-4">
                <a th:href="@{/employee}" class="btn btn-success" role="button">Employee Panel</a>
            </div>
            <div class="col-md-4">
                <a th:href="@{/admin}" class="btn btn-success" role="button">Admin Panel</a>
            </div>
        </div>
    </div>
</body>

</html>